# Notebook 1 : Découverte de Pandas

In [6]:
import pandas as pd

## Iris

Nous considérons le jeu de données connu sous le nom des [Iris de Fisher](https://fr.wikipedia.org/wiki/Iris_de_Fisher). Répondez aux questions suivantes à l'aide du module Pandas.

1. Charger le jeu de données dans un dataframe `iris` à partir du fichier `iris.csv` et afficher le dataframe.

In [7]:
iris = pd.read_csv("data/iris.csv")
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth Species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

2. Sélectionner les variables `PetalWidth` et `Species`.

In [8]:
print(iris[["PetalWidth", "Species"]])

     PetalWidth    Species
0           0.2     setosa
1           0.2     setosa
2           0.2     setosa
3           0.2     setosa
4           0.2     setosa
..          ...        ...
145         2.3  virginica
146         1.9  virginica
147         2.0  virginica
148         2.3  virginica
149         1.8  virginica

[150 rows x 2 columns]

3. Extraire le sous-dataframe qui contient uniquement les iris des espèces `versicolor` ou `virginica`.

In [15]:
print(iris[iris.Species.isin(["versicolor","virginica"])])

     SepalLength  SepalWidth  PetalLength  PetalWidth     Species
50           7.0         3.2          4.7         1.4  versicolor
51           6.4         3.2          4.5         1.5  versicolor
52           6.9         3.1          4.9         1.5  versicolor
53           5.5         2.3          4.0         1.3  versicolor
54           6.5         2.8          4.6         1.5  versicolor
..           ...         ...          ...         ...         ...
145          6.7         3.0          5.2         2.3   virginica
146          6.3         2.5          5.0         1.9   virginica
147          6.5         3.0          5.2         2.0   virginica
148          6.2         3.4          5.4         2.3   virginica
149          5.9         3.0          5.1         1.8   virginica

[100 rows x 5 columns]

4. Compter le nombre d'iris de l'espèce `setosa`.

In [21]:
print(
iris[iris.Species=="setosa"]["Species"].agg(["count"])
)

count    50
Name: Species, dtype: int64

5. Calculer la moyenne de la variable `PetalWidth` pour les iris de l'espèce `versicolor`.

In [26]:
print(
iris[iris.Species=="versicolor"]["PetalWidth"].agg(["mean"])
)

mean    1.326
Name: PetalWidth, dtype: float64

6. Ajouter une variable `SumWidth` qui contient la somme des variables `PetalWidth` et `SepalWidth`.

In [24]:
iris["SumWidth"]=iris["PetalWidth"]+iris["SepalWidth"]
print(iris)

     SepalLength  SepalWidth  PetalLength  PetalWidth    Species  SumWidth
0            5.1         3.5          1.4         0.2     setosa       3.7
1            4.9         3.0          1.4         0.2     setosa       3.2
2            4.7         3.2          1.3         0.2     setosa       3.4
3            4.6         3.1          1.5         0.2     setosa       3.3
4            5.0         3.6          1.4         0.2     setosa       3.8
..           ...         ...          ...         ...        ...       ...
145          6.7         3.0          5.2         2.3  virginica       5.3
146          6.3         2.5          5.0         1.9  virginica       4.4
147          6.5         3.0          5.2         2.0  virginica       5.0
148          6.2         3.4          5.4         2.3  virginica       5.7
149          5.9         3.0          5.1         1.8  virginica       4.8

[150 rows x 6 columns]

7. Calculer la moyenne et la variance de la variable `SepalLength` pour chaque espèce.

In [ ]:
print(
iris
.groupby(iris.Species)["SepalLength"].agg(["mean","var"])
)

             mean       var
Species
setosa      5.006  0.124249
versicolor  5.936  0.266433
virginica   6.588  0.404343

In [ ]:
print(
iris
    .groupby(iris.Species)
    .agg(
        Moyenne=pd.NamedAgg(column="SepalLength", aggfunc="mean"),
        Variance=pd.NamedAgg(column="SepalLength", aggfunc="var"),
    )
)

            Moyenne  Variance
Species
setosa        5.006  0.124249
versicolor    5.936  0.266433
virginica     6.588  0.404343

8. Calculer la moyenne de toutes les variables pour chaque espèce. Afficher le résultat au format large et au format long.

In [ ]:
iris_large=(iris
    .groupby(iris.Species)
    .agg(
        SepalLengthMean=pd.NamedAgg(column="SepalLength", aggfunc="mean"),
        SepalWidthMean=pd.NamedAgg(column="SepalWidth", aggfunc="mean"),
        PetalLengthMean=pd.NamedAgg(column="PetalLength", aggfunc="mean"),
        PetalWidthMean=pd.NamedAgg(column="PetalWidth", aggfunc="mean"),
    )
)

print(iris_large)

print(
iris_large.reset_index()
.melt(id_vars=["Species"])
)

            SepalLengthMean  SepalWidthMean  PetalLengthMean  PetalWidthMean
Species
setosa                5.006           3.428            1.462           0.246
versicolor            5.936           2.770            4.260           1.326
virginica             6.588           2.974            5.552           2.026
       Species         variable  value
0       setosa  SepalLengthMean  5.006
1   versicolor  SepalLengthMean  5.936
2    virginica  SepalLengthMean  6.588
3       setosa   SepalWidthMean  3.428
4   versicolor   SepalWidthMean  2.770
5    virginica   SepalWidthMean  2.974
6       setosa  PetalLengthMean  1.462
7   versicolor  PetalLengthMean  4.260
8    virginica  PetalLengthMean  5.552
9       setosa   PetalWidthMean  0.246
10  versicolor   PetalWidthMean  1.326
11   virginica   PetalWidthMean  2.026

## Houston flights

Nous considérons le jeux de données `hflights` relatif à des vols au départ des aéroports *Houston George Bush Intercontinental Airport* (IAH) et *William P. Hobby Airport* (HOU).

1. Charger le jeu de données dans un dataframe `hflights` à partir du fichier `hflights.csv`

In [42]:
houston = pd.read_csv("data/hflights.csv")
houston.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted
0,2011,1,1,6,1400.0,1500.0,AA,428,N576AA,60.0,...,-10.0,0.0,IAH,DFW,224,7.0,13.0,0,NaN,0
1,2011,1,2,7,1401.0,1501.0,AA,428,N557AA,60.0,...,-9.0,1.0,IAH,DFW,224,6.0,9.0,0,NaN,0
2,2011,1,3,1,1352.0,1502.0,AA,428,N541AA,70.0,...,-8.0,-8.0,IAH,DFW,224,5.0,17.0,0,NaN,0
3,2011,1,4,2,1403.0,1513.0,AA,428,N403AA,70.0,...,3.0,3.0,IAH,DFW,224,9.0,22.0,0,NaN,0
4,2011,1,5,3,1405.0,1507.0,AA,428,N492AA,62.0,...,-3.0,5.0,IAH,DFW,224,9.0,9.0,0,NaN,0

2. Sélectionner les variable `Dest`, `Distance`, `TaxiIn` et `TaxiOut` avec la méthode `filter`.

In [43]:
print(houston.filter(items=["Dest", "Distance","TaxiIn","TaxiOut"]))

       Dest  Distance  TaxiIn  TaxiOut
0       DFW       224     7.0     13.0
1       DFW       224     6.0      9.0
2       DFW       224     5.0     17.0
3       DFW       224     9.0     22.0
4       DFW       224     9.0      9.0
...     ...       ...     ...      ...
227491  TPA       781     5.0     11.0
227492  TPA       781     4.0      9.0
227493  TUL       453     4.0     14.0
227494  TUL       453     3.0      9.0
227495  TUL       453     3.0     11.0

[227496 rows x 4 columns]

3. Sélectionner les variables `DepTime`, `ArrTime`, `ActualElapsedTime` et `AirTime` avec la méthode `filter` et le paramètre `like`.

In [44]:
print(houston.filter(like="Time"))

        DepTime  ArrTime  ActualElapsedTime  AirTime
0        1400.0   1500.0               60.0     40.0
1        1401.0   1501.0               60.0     45.0
2        1352.0   1502.0               70.0     48.0
3        1403.0   1513.0               70.0     39.0
4        1405.0   1507.0               62.0     44.0
...         ...      ...                ...      ...
227491   1818.0   2111.0              113.0     97.0
227492   2047.0   2334.0              107.0     94.0
227493    912.0   1031.0               79.0     61.0
227494    656.0    812.0               76.0     64.0
227495   1600.0   1713.0               73.0     59.0

[227496 rows x 4 columns]

4. Ajouter une variable `ActualGroundTime` qui correspond à `ActualElapsedTime` moins `AirTime`.

In [46]:
houston["ActualGroundTime"]=houston["ActualElapsedTime"]-houston["AirTime"]
print(houston.filter(like="Time"))

        DepTime  ArrTime  ActualElapsedTime  AirTime  ActualGroundTime
0        1400.0   1500.0               60.0     40.0              20.0
1        1401.0   1501.0               60.0     45.0              15.0
2        1352.0   1502.0               70.0     48.0              22.0
3        1403.0   1513.0               70.0     39.0              31.0
4        1405.0   1507.0               62.0     44.0              18.0
...         ...      ...                ...      ...               ...
227491   1818.0   2111.0              113.0     97.0              16.0
227492   2047.0   2334.0              107.0     94.0              13.0
227493    912.0   1031.0               79.0     61.0              18.0
227494    656.0    812.0               76.0     64.0              12.0
227495   1600.0   1713.0               73.0     59.0              14.0

[227496 rows x 5 columns]

5. Ajouter une variable `AverageSpeed` qui donne la vitesse moyenne du vol et ordonner la table selon les valeurs décroissantes de cette variable.

In [49]:
houston["AverageSpeed"]=houston["Distance"]/(houston["AirTime"]/60)
print(houston
    .filter(items=["Dest", "Distance","AverageSpeed"])
    .sort_values(by="AverageSpeed", ascending=False)
)

       Dest  Distance  AverageSpeed
147589  AUS       140    763.636364
8318    MEM       469    670.000000
34761   CLT       913    644.470588
185953  HOB       501    639.574468
40764   IND       845    618.292683
...     ...       ...           ...
227134  BWI      1246           NaN
227153  DAL       239           NaN
227271  DAL       239           NaN
227302  JAN       359           NaN
227394  DAL       239           NaN

[227496 rows x 3 columns]

6. Sélectionner les vols à destination de `JFK`.

In [52]:
print(houston[houston.Dest == "JFK"].filter(items=["Dest", "Distance","AverageSpeed"]))

       Dest  Distance  AverageSpeed
304     JFK      1428    473.370166
305     JFK      1428    455.744681
306     JFK      1428    498.139535
307     JFK      1428    486.818182
308     JFK      1428    516.144578
...     ...       ...           ...
208752  JFK      1428    468.196721
208753  JFK      1428    504.000000
208754  JFK      1428    473.370166
208755  JFK      1428    489.600000
208756  JFK      1428    450.947368

[695 rows x 3 columns]

7. Compter le nombre de vols à destination de `JFK`.

In [ ]:
print(
    houston[houston.Dest == "JFK"]
        .agg(
            {"Dest": "count"}
        )
)

Dest    695
dtype: int64

8. Agréger les données `hflights` pour obtenir :
- `n` : le nombre total de vols,
- `n_dest`: le nombre total de destinations distinctes,
- `n_carrier` : le nombre total de compagnies distinctes.

In [64]:
print(
    houston.agg(
        n=pd.NamedAgg(column="FlightNum", aggfunc="count"),
        n_dest=pd.NamedAgg(column="Dest", aggfunc="nunique"),
        n_carrier=pd.NamedAgg(column="UniqueCarrier", aggfunc="nunique"),
    )
)

print(
    pd.DataFrame(
        {
            "n":[houston.FlightNum.count()],
            "n_dest":[houston.Dest.nunique()],
            "n_carrier":[houston.UniqueCarrier.nunique()]
        }
    )
)

           FlightNum   Dest  UniqueCarrier
n           227496.0    NaN            NaN
n_dest           NaN  116.0            NaN
n_carrier        NaN    NaN           15.0
        n  n_dest  n_carrier
0  227496     116         15

9. Agréger les données des vols de la compagnie `AA` pour obtenir :
- le nombre total de vols,
- le nombre total de vols annulés,
- la valeur moyenne de `ArrDelay`.

In [68]:
hAA=houston[houston.UniqueCarrier=="AA"]

print(
    pd.DataFrame(
        {
            "total_flights":[hAA.FlightNum.count()],
            "total_cancelled_flights":[hAA.Cancelled.sum()],
            "mean_delay":[hAA.ArrDelay.mean()]
        }
    )
)

   total_flights  total_cancelled_flights  mean_delay
0           3244                       60    0.891756

10. Calculer pour chaque compagnie :
- le nombre total de vols,
- la valeur moyenne de `AirTime`.

In [69]:
print(
    houston
        .groupby("UniqueCarrier")
        .agg(
            flights=pd.NamedAgg(column="FlightNum", aggfunc="count"),
            mean_airtime=pd.NamedAgg(column="AirTime", aggfunc="mean"),
        )
)

               flights  mean_airtime
UniqueCarrier
AA                3244     69.652612
AS                 365    254.184066
B6                 695    183.985141
CO               70032    145.457873
DL                2641     97.801235
EV                2204    103.656766
F9                 838    125.341346
FL                2139     92.706300
MQ                4648     93.839476
OO               16061    113.410684
UA                2072    157.406296
US                4082    133.856328
WN               45343     86.731341
XE               73053     83.222146
YV                  79    121.935897

11. Ordonner les compagnies en fonction des retards moyens au départ.

In [70]:
print(
    houston
        .groupby("UniqueCarrier")
        .agg(
            mean_dep_delay=pd.NamedAgg(column="DepDelay", aggfunc="mean"),
        )
        .sort_values(by="mean_dep_delay", ascending=False)
)

               mean_dep_delay
UniqueCarrier
WN                  13.488241
B6                  13.320532
UA                  12.918707
EV                  12.482193
MQ                  11.071745
DL                   9.370627
CO                   9.261313
OO                   8.885482
XE                   7.713728
AA                   6.390144
F9                   5.093637
FL                   4.716376
AS                   3.712329
US                   1.622926
YV                   1.538462